@font-face {
    font-family: "corps";
    src: url(Amiamie-RegularRound.otf);
}

@font-face {
    font-family: "titre";
    src: url(Ductus_Regular_Regular.otf);
}


body {
    background-color: antiquewhite!important;
    color: red!important;
}

.bg-primary {
    background-color: white!important;
}

p em {
    text-decoration: line-through;
}

a, p, h1, h2, h3, ul li {
    color: black!important;
}

.col-md-9 h2 ~ ul {
    margin-left: 60px;
    list-style: none;

}

p ~ ul {
    font-size: 1.2em;
    list-style: none;

}

p ~ ul li::before, .col-md-9 h2 ~ ul li::before {
    content: ")))";
    padding-right: 10px;
    
} 

a, h1, h2, h3 {
    font-family: "titre"!important;
} 

blockquote {
    padding-left: 2em;
}

p a {
    font-family: "corps"!important;
    text-decoration: dotted 1px underline;
}

ul li {
    font-family: "corps"!important;  
}
p {
    font-family: "corps"!important;
    font-size: 1.4em;
}

footer {
    display: none;
}

.nav.navbar-nav.ml-auto {
    display: none;
  }

  .navbar-brand {
    background: rgb(255, 255, 255);
    /* border: solid 1px black; */
    padding: 10px;
  }

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 10px;

  }

  a.nav-link:hover {
    color: blueviolet!important;
    border-bottom: solid 2px blueviolet;
  }

a.nav-link {
border-bottom: solid 2px black;
width: fit-content;
  }

li.navitem:nth-child(1){
    display: none;
}


  h1 {
    font-size: 2em;
    padding-bottom: 1em;
  }

  h2 {
    font-size: 1.5em;
    padding-left: 1.5em;
    line-height: 1.5em;
  }